[submodule "homework/2016/sml"]
	path = homework/2016/sml
	url = https://github.com/bjur/SAT_solver.git
[submodule "homework/2016/salt-n-pepa"]
	path = homework/2016/salt-n-pepa
	url = https://github.com/dokren/SAT_solver.git
[submodule "homework/2016/contradiction"]
	path = homework/2016/contradiction
	url = https://github.com/AleksMat/LVR-SAT-solver.git
[submodule "homework/2016/isrmjevci"]
	path = homework/2016/isrmjevci
	url = git@github.com:nunar/sat-solver.git
[submodule "homework/2016/sven"]
	path = homework/2016/sven
	url = https://github.com/xnevs/sat-solver.git
[submodule "homework/2016/team"]
	path = homework/2016/team
	url = https://github.com/Osebek/lvr.git
[submodule "homework/2016/duzl-studios"]
	path = homework/2016/duzl-studios
	url = git@bitbucket.org:mihic/sat-solver.git
[submodule "homework/2016/achtung"]
	path = homework/2016/achtung
	url = https://github.com/banomaster/SAT_problem.git
[submodule "homework/2016/biblethump"]
	path = homework/2016/biblethump
	url = https://github.com/MatejVitek/SAT-Solver.git
[submodule "homework/2016/3students"]
	path = homework/2016/3students
	url = https://github.com/RokIvansek/SAT-solver.git
[submodule "homework/2016/memo"]
	path = homework/2016/memo
	url = git@bitbucket.org:AnjaPetkovic/sat-solver.git
[submodule "homework/2016/goodboy"]
	path = homework/2016/goodboy
	url = https://github.com/mz3944/SAT-solver.git
[submodule "homework/2016/pythonsolver"]
	path = homework/2016/pythonsolver
	url = https://github.com/MitjaR/SATsolverLVR.git
[submodule "homework/2016/strelec"]
	path = homework/2016/strelec
	url = https://github.com/strelec/DPLL-with-Rust.git
