[submodule "hw-satsolver/sml"]
	path = hw-satsolver/sml
	url = https://github.com/bjur/SAT_solver.git
[submodule "hw-satsolver/salt-n-pepa"]
	path = hw-satsolver/salt-n-pepa
	url = https://github.com/dokren/SAT_solver.git
[submodule "hw-satsolver/contradiction"]
	path = hw-satsolver/contradiction
	url = https://github.com/AleksMat/LVR-SAT-solver.git
[submodule "hw-satsolver/isrmjevci"]
	path = hw-satsolver/isrmjevci
	url = git@github.com:nunar/sat-solver.git
[submodule "hw-satsolver/sven"]
	path = hw-satsolver/sven
	url = https://github.com/xnevs/sat-solver.git
[submodule "hw-satsolver/team"]
	path = hw-satsolver/team
	url = https://github.com/Osebek/lvr.git
[submodule "hw-satsolver/duzl-studios"]
	path = hw-satsolver/duzl-studios
	url = git@bitbucket.org:mihic/sat-solver.git
[submodule "hw-satsolver/achtung"]
	path = hw-satsolver/achtung
	url = https://github.com/banomaster/SAT_problem.git
[submodule "hw-satsolver/biblethump"]
	path = hw-satsolver/biblethump
	url = https://github.com/MatejVitek/SAT-Solver.git
[submodule "hw-satsolver/3students"]
	path = hw-satsolver/3students
	url = https://github.com/RokIvansek/SAT-solver.git
[submodule "hw-satsolver/memo"]
	path = hw-satsolver/memo
	url = git@bitbucket.org:AnjaPetkovic/sat-solver.git
[submodule "hw-satsolver/goodboy"]
	path = hw-satsolver/goodboy
	url = https://github.com/mz3944/SAT-solver.git
[submodule "hw-satsolver/pythonsolver"]
	path = hw-satsolver/pythonsolver
	url = https://github.com/MitjaR/SATsolverLVR.git
[submodule "hw-satsolver/strelec"]
	path = hw-satsolver/strelec
	url = https://github.com/strelec/DPLL-with-Rust.git
